<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <base href="{{ path('frame_workers_tm_food_rescue_food_app_homepage') }}" />
        {% block stylesheets %} 
            <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/css/bootstrap.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/foodrescue.css') }}" />
        {% endblock %}

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="Content-Language" content="lt">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body {% if path(app.request.attributes.get('_route')) != "/" %} class="body_bg" {% endif %} >

    <div class="header">
            <div class="container">
                {% block headblock %}
                <div class="row">
                    {% if is_granted("ROLE_USER") %}
                        <div class="col-lg-2 col-md-2 col-sm-2"><a href="{{ path('frame_workers_tm_food_rescue_food_app_my_products') }}" class="logo">Food Rescue</a></div>
                    {% else %}
                        <div class="col-lg-2 col-md-2 col-sm-2"><a href="{{ path('frame_workers_tm_food_rescue_food_app_homepage') }}" class="logo">Food Rescue</a></div>
                    {% endif %}
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <ul class="navmenu user-settings nav nav-pills pull-right">
                                <li class="username"><a href="{{ path('fos_user_profile_edit') }}">{{ app.user.username }}</a></li>
                                <li class="settings"><a href="{{ path('fos_user_profile_edit') }}">Nustatymai</a></li>
                                <li class="logout"><a href="{{ path('fos_user_security_logout') }}">Atsijungti</a></li>
                            </ul>
                            <ul class="navmenu nav nav-pills pull-right">
                                <li><a href="{{ path('frame_workers_tm_food_rescue_food_app_my_products') }}">Produktai </a></li>
                                <li><a href="{{ path('frame_workers_tm_food_rescue_food_app_recipes') }}">Receptai</a></li>
                            </ul>
                        </div>
                    {% else %}
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <ul class="navmenu nav nav-pills pull-right">
                                <li><a href="{{ path('fos_user_security_login') }}">Prisijungti </a></li>
                                <li><a href="{{ path('fos_user_registration_register') }}">Registruotis</a></li>
                            </ul>
                        </div>
                    {% endif %}

                </div>
                {% endblock %}
            </div>
        </div>

            {% block body %} {% endblock %}

            {% block javascripts %}
                <script type="text/javascript" src="{{ asset('jquery-ui-1.10.4.custom/js/jquery-1.10.2.js') }}"></script>
                <script type="text/javascript" src="{{ asset('jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.js') }}"></script>
                <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
            {% endblock %}
    </body>
</html>
