<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %} 
            <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/css/bootstrap.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/foodrescue.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
<style type="text/css">
body{
    background: #fff !important;
}
.rec_wrap{
    border: 1px solid black;
    padding: 8px;
}
.rec_image{
    margin-right: 15px;
}
.rec_image,.rec_descr,.rec_stats{
    float: left;
}
.rec_descr h4,.rec_descr p{
    margin: 0;
}
.rec_descr p{
    font-size: 13px;
}
.rec_stats,.rec_stats,.rec_fav{
    margin-top: 35px;
}
.rec_fav{
    float: right;
}
.rec_view_stat,.view_icons{
    margin-top: 15px;
}
.recip_top{
    border-bottom: 3px solid #000;
    padding-bottom: 6px;
    margin-bottom: 6px;
}
.ingredients{
    
}
.ingredients h4{
    text-align: center;
}
.coock_info p{
    font-size: 13px;
    text-align: justify;
}
.coocing_table{
    float: right;
}
.short_desc_cont{
    float: left;
}
.jumbo2{
    height: auto !important;
}
</style>        
        
        
    </head>
    <body>
        <div class="header" style="background-color:#8CD968;">
            <div class="container">

                {% block headblock %}
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-8"><a href="/" class="logo">Food Rescue</a></div>
                    {% if logged is defined and logged is not empty %}
                        <div class="col-lg-10 col-md-10 col-sm-2">
                            <ul class="navmenu user-settings nav nav-pills pull-right">
                                <li class="username"><a href="#">{{ logged }}</a></li>
                                <li class="settings"><a href="{{ path('frame_workers_tm_food_rescue_food_app_settings') }}">Nustatymai</a></li>
                                <li class="logout"><a href="{{ path('frame_workers_tm_food_rescue_food_app_logout') }}">Atsijungti</a></li>
                            </ul>
                            <ul class="navmenu nav nav-pills pull-right">
                               <!-- <li><a href="{{ path('frame_workers_tm_food_rescue_food_app_dashboard') }}">Pagrindinis </a></li>-->
                                <li><a href="{{ path('frame_workers_tm_food_rescue_food_app_my_products') }}">Produktai </a></li>
                                <li><a href="{{ path('frame_workers_tm_food_rescue_food_app_recipes') }}">Receptai</a></li>
                            </ul>
                            <ul class="navmenu sutaupe-nav nav nav-pills pull-right">
                                <li class="sutaupe"><a href="#">Jūs sutaupėte 203 Litus ! </a></li>
                            </ul>
                        </div>
                    {% else %}
                        <div class="col-lg-10 col-md-10 col-sm-2">
                            <ul class="navmenu nav nav-pills pull-right">
                                <li><a href="{{ path('frame_workers_tm_food_rescue_food_app_login') }}">Prisijungti </a></li>
                                <li><a href="{{ path('frame_workers_tm_food_rescue_food_app_login') }}">Registruotis</a></li>
                            </ul>
                        </div>
                    {% endif %}

                </div>
                {% endblock %}
            </div>
        </div>
            <div class="container">
                {% block body %}

                {% endblock %}

                {% block javascripts %}
                    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
                {% endblock %}
            </div>
    </body>
</html>
