{# src/FrameWorkersTm/FoodRescue/FoodAppBundle/Resources/views/Recipes/index.html.twig #}

{# base template yra app/resources/views/base.html.twig #}
{% extends '::base.html.twig' %}

{% block title %} Receptai {% endblock %}



{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .thumbnail{
            height: 350px;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="page-recipes">

        <div class="container">

            <div class="row">

                {# show a message if trecipe was made #}
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="flash-notice">
                        {{ flashMessage }}
                    </div>
                {% endfor %}

                {% for recipe in recipes  %}
                    <div class="recipe_block col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a href="recipes/view/{{  recipe.id }}">
                                <img class="recipes_img" src="{{ asset('assets/images/recipes/') }}{{ recipe.image_name}}" width="300" height="300" />
                            </a>
                            <div class="caption">
                                <h3><a href="recipes/view/{{  recipe.id }}">{{ recipe.name }}</a></h3>

                                <div class="allaccepted">
                                    <p>
                                        {% if recipe.products_nr == recipe.products_accepted  %}
                                           <img src="{{ asset('bootstrap/images/tick.png') }}" height="20" /><span>Turim visus reikiamus produktus !</span>
                                        {% endif %}
                                    </p>
                                </div>

                                <div class="cookedliked">
                                    {% if recipe.cooked %}
                                        <div class="cooked"><p><img src="{{ asset('bootstrap/images/tick.png') }}" height="20" /><span>gamintas</span></p></div>
                                    {% endif %}
                                    {% if recipe.liked %}
                                        <div class="liked"><p><img src="{{ asset('bootstrap/images/tick.png') }}" height="20" /><span>pamėgtas</span></p></div>
                                    {% endif %}
                                    <div class="clr"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="pagination">
                {%  if limit == 0 %}
                    {% if recipes|length == 15 %}
                        <a class="btn btn-primary btn-lg" href="recipes/30">Daugiau receptų</a>
                    {% endif %}
                {% elseif recipes|length == limit %}
                    {% if recipes|length != 45 %}
                        <a class="center btn btn-primary btn-lg" href="recipes/{{ limit + 15 }}">Daugiau receptų</a>
                    {% endif %}
                {% endif %}
            </div>

        </div>

    </div>
{% endblock %}