{# src/FrameWorkersTm/FoodRescue/FoodAppBundle/Resources/views/Recipes/recipe.html.twig #}
{# base template yra app/resources/views/base.html.twig #}
{% extends '::base.html.twig' %}

{% block body %}

<h4>Gaminam receptą!</h4>
<a href="{{ asset('recipies') }}">Grįžti atgal</a>
 <div class="container">
    <div class="row">
        <div class="jumbotron col-lg-7 col-md-12 col-sm-12 ">
            <div class="rec_wrap clearfix"> 
                <div class="recip_top clearfix">
                    <div class="rec_image">
                        <img src="{{ asset('assets/images/recipes/') }}{{ recipe.image_name }}"
                             width="100" height="100" />
                    </div>
                        <div class="rec_descr">
                            <h4><a href="view/omleto-receptas">{{ recipe.name }}</a></h4>

                            {% if recipe.products_nr == acceptedProdsNr  %}
                            <div class="rec_view_stat">
                                <img src="{{ asset('bootstrap/images/tick.png') }}" height="20" />
                                <span>Turi visus produktus!</span>    
                            </div>
                            {% endif %}
                            <div class="view_icons">
                                {% if recipe.cooked %}
                                    <img src="{{ asset('bootstrap/images/ic_pot.png') }}" height="30" title="Jau gaminau!" />
                                {% endif %}
                                {% if recipe.liked %}
                                    <img src="{{ asset('bootstrap/images/star.png') }}" height="30" title="Mėgstamas patiekalas" />
                                {% endif %}
                            </div>
                        </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12 ingredients"> 
                        <h4>Ingredientai</h4>
                        <ul>
                            {% for product in recipe_products  %}
                                <li>{{ product.name }} {{ product.quantity }}{{ product.unit }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 coock_info"> 
                        <h4>Gaminimas</h4>
                        <p> </p>
                        {{ recipe.describtion }}
                    </div>
                </div>
            </div>
        </div>
        
        <div class="jumbotron col-lg-4 col-md-12 col-sm-12 coocing_table">
           <h4>Receptui panaudota</h4>  
        <form action="#" method="post">
           <table class="table table-striped">
               {% for product in recipe_products  %}
                   <tr>
                      <td>{{ product.name }}</td>
                      <td><input type="text" value="{{ product.quantity }}" /></td>
                      <td>{{ product.unit }}</td>
                   </tr>
               {% endfor %}
           </table>
           <a class="btn btn-success" href="{{ asset('recipes/') }}">Pagaminau!</a>
           <!-- <button class="btn btn-success" value="1" name="done">Pagaminau!</button> -->
          </form>
{#
            {{ form(form) }}
 #}
        </div>
        
    </div>
 </div>
{% endblock %}