{# src/FrameWorkersTm/FoodRescue/FoodAppBundle/Resources/views/Recipes/recipe.html.twig #}
{# base template yra app/resources/views/base.html.twig #}
{% extends '::base.html.twig' %}
{% block title %} Receptas - {{ recipe.name }} {% endblock %}
{% block body %}


<div class="page-recipe">
 <div class="container">
     <input class="btn btn-primary btn-sm atgal" type="button" onclick="history.back();" value="Grįžti atgal">
     <div class="row">
        <div class="jumbotron col-lg-7 col-md-12 col-sm-12 ">
            <div class="rec_wrap clearfix"> 
                <div class="recip_top clearfix">
                    <div class="rec_image">
                        <img src="{{ asset('assets/images/recipes/') }}{{ recipe.image_name }}"
                             width="250" height="250" />
                    </div>
                        <div class="rec_descr">
                            <h4>{{ recipe.name }}</h4>
                            <p></p>
                            <p>
                            {% if recipe.products_nr == acceptedProdsNr  %}
                                <img src="{{ asset('bootstrap/images/tick.png') }}" height="20" /><span>Turi visus produktus!</span>
                            {% endif %}
                            </p>
                            <p></p>
                            <div class="view_icons">
                                {% if recipe.cooked %}
                                    <p><img src="{{ asset('bootstrap/images/tick.png') }}" height="20" /><span>gamintas</span></p>
                                {% endif %}
                                {% if recipe.liked %}
                                    <p><img src="{{ asset('bootstrap/images/tick.png') }}" height="20" /><span>pamėgtas</span></p>
                                {% endif %}
                            </div>
                        </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12 ingredients"> 
                        <h4>Ingredientai</h4>
                        <ul>
                            {% set idbefore = 0 %}
                            {% for product in recipe_products  %}
                                {% if idbefore != product.id %}
                                    <li class="{% if product.my_product_id %}available{% endif %}"> {{ product.name }} {{ product.quantity }}{{ product.unit }}</li>
                                    {% set idbefore = product.id %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 coock_info"> 
                        <h4>Gaminimas</h4>
                        {{ recipe.describtion|raw }}
                    </div>
                </div>
            </div>
        </div>
        
        <div class="jumbotron col-lg-4 col-md-12 col-sm-12 coocing_table">
           <h4>Receptui panaudota</h4>  

            {{ form_start(form) }}
            <table>
                {% for child in form.children %}
                <tr>
                    <td>
                        {% if loop.last == false  %}
                            {{ form_label(child) }}
                        {% endif %}
                    </td>
                    <td>{{ form_widget(child) }}</td>
                </tr>
                {% endfor %}
            </table>
            {{ form_end(form) }}


        </div>
        
    </div>
 </div>

    {% block javascripts %}
        {{ parent() }}

        <script type="text/javascript">
            var $s = jQuery.noConflict();
            $s(document).ready(function(){
                $s("label[for=form_recipe_id]").hide();
            });
        </script>

    {% endblock %}

</div>

{% endblock %}