{# src/FrameworkersTM/FoodRescue/FoodAppBundle/Resources/views/Default/index.html.twig #}

{# base template yra app/resources/views/base.html.twig #}
{% extends '::base.html.twig' %}

{% block title %} Prisijungimas/Registracija {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-2 col-md-2"> </div>
        <div class="col-lg-4 col-md-4">
            {{ form_start(form,{ 'attr': {'class': 'form-signin'} }) }}

            {{ form_errors(form) }}

            <div class="form-group">
                {{ form_label(form.loginName) }}
                {{ form_errors(form.loginName) }}
                {{ form_widget(form.loginName,{'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.password) }}
                {{ form_errors(form.password) }}
                {{ form_widget(form.password,{'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                <a href="#" class="fb-login" style="">Prisijungti su Facebook</a>
                <a href="#" class="gplus-login" style="">Prisijungti su Google+</a>
            </div>

            <div>
                {{ form_widget(form.save,{'attr': {'class': 'btn btn-lg btn-primary btn-block'}}) }}
            </div>

            {{ form_end(form) }}
        </div>

        <div class="col-lg-4 col-md-4">
            {{ form_start(form2,{ 'attr': {'class': 'form-signin'} }) }}

            {{ form_errors(form2) }}

            <div class="form-group">
                {{ form_label(form2.loginName) }}
                {{ form_errors(form2.loginName) }}
                {{ form_widget(form2.loginName,{'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form2.email) }}
                {{ form_errors(form2.email) }}
                {{ form_widget(form2.email,{'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form2.password) }}
                {{ form_errors(form2.password) }}
                {{ form_widget(form2.password,{'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form2.password2) }}
                {{ form_errors(form2.password2) }}
                {{ form_widget(form2.password2,{'attr': {'class': 'form-control'}}) }}
            </div>

            <div>
                {{ form_widget(form2.save,{'attr': {'class': 'btn btn-lg btn-primary btn-block'}}) }}
            </div>

            {{ form_end(form2) }}
        </div>
        <div class="col-lg-2 col-md-2"> </div>
    </div>
{% endblock %}