{# src/FrameWorkersTm/FoodRescue/FoodAppBundle/Resources/views/MyProducts/index.html.twig #}

{# base template yra app/resources/views/base.html.twig #}
{% extends '::base.html.twig' %}

{% block title %} Mano produktai {% endblock %}


{% block body %}
    <script src="{{ asset('assets/js/productListAutocomplete.js') }}"></script>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="jumbo1 jumbotron">
                <h4>Pridėti produktą</h4>
                {{ form_start(addProductForm) }}

                {{ form_errors(addProductForm) }}
                <div class ="row">
                    <div class="form-small-margin col-lg-4">
                        {{ form_label(addProductForm.productName, 'Pavadinimas') }}
                        {{ form_errors(addProductForm.productName) }}
                        {{ form_widget(addProductForm.productName, {'attr': {'class': 'form-control ui-autocomplete-input'}}) }}
                    </div>
                    <div class="form-small-margin col-lg-2">
                        {{ form_label(addProductForm.quantity, 'Kiekis') }}
                        {{ form_errors(addProductForm.quantity) }}
                        {{ form_widget(addProductForm.quantity, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-small-margin col-lg-1">
                        <label>Vnt</label>
                        <label id="addMyProductUnits"></label>
                    </div>
                    <div class="form-small-margin col-lg-2">
                        {{ form_label(addProductForm.endDate, 'Suges') }}
                        {{ form_errors(addProductForm.endDate) }}
                        {{ form_widget(addProductForm.endDate, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-small-margin col-lg-2">
                        <label> </label>
                        {{ form_widget(addProductForm.submit, {'attr': {'class': 'form-control', 'value': 'Išsaugoti'}, 'label': 'Išsaugoti'}) }}
                    </div>
                </div>
                {{ form_widget(addProductForm.productID) }}
                {{ form_end(addProductForm) }}
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 clearfix">
            <div class="jumbotron jumbo1 jumbo2">
{% for i in 1..2 %}
             <div class="rec_wrap clearfix">
                <div class="rec_image">
                    <img src="{{ asset('https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTEY0VZXM9oLfJ8H5U-cXdA3A-baHn9d1elmEwJsR8ENHasaYVN') }}"
                         width="100" height="100" />
                </div>
                <div class="short_desc">
                    <h4><a href="{{ asset('app.php/recipes/view/omleto-receptas') }}">Omletas</a></h4>
                    <div class="short_desc_cont">
                        <img src="{{ asset('bootstrap/images/tick.png') }}" height="20" />
                        <span>Turi visus produktus!</span>
                        <img src="{{ asset('bootstrap/images/ic_pot.png') }}" height="30" title="Jau gaminau!" /> 
                        <img src="{{ asset('bootstrap/images/star.png') }}" height="30" title="Mėgstamas patiekalas" />
                    </div>
                </div>
             </div> 
{% endfor %}
            </div>
        </div>


    </div>
    <div class="jumbotron">
        <h4>Turimi produktai</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Pavadinimas</th>
                    <th>Kiekis</th>
                    <th>vnt.</th>
                    <th>Suges</th>
                </tr>
            </thead>
            <tbody>
            {% for product in myProducts %}
                <tr>
                    <td> {{ myProductsArray[product.id]["name"] }}</td>
                    <td> {{ product.quantity }}</td>
                    <td> {{ myProductsArray[product.id]["units"] }}</td>
                    <td> {{ product.endDate }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

    </div>
{% endblock %}