{% trans_default_domain 'FOSUserBundle' %}
<h3>Sveiki,{{ user.username }}</h3>
<p>Linkime produktyvios dienos ir skanaus maisto!</p>
<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: <strong>{{ user.username }}</strong></p>

    <p>{{ 'profile.show.email'|trans }}: <strong>{{ user.email }}</strong></p>

    <div class="col-lg-2 col-md-2 col-sm-2">
        <a href="{{ path('frame_workers_tm_food_rescue_food_app_my_products') }}">Į pagdindinį</a></div>

</div>

