{% trans_default_domain 'FOSUserBundle' %}
<h3>Sveiki,{{ user.username }}</h3>
<p>Linkime produktyvios dienos ir skanaus maisto!</p>
<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: <strong>{{ user.username }}</strong></p>
    <p>{{ 'profile.show.email'|trans }}: <strong>{{ user.email }}</strong></p>
</div>
